@import '../../styles/variables.scss';

.post-wrapper {
  flex-basis: 80%;

  .post {
    margin-bottom: 2.5rem;

    &-info {
      margin-top: .2rem;
      display: flex;
      align-items: center;
      font-size: .8rem;

      &_tag {
        padding: .2rem;
        border-radius: 5px;
        margin-right: .4rem;
      }

      &_meta {
        margin-left: .5rem;
      }  
    }

    &-title {
      color: $text-grey;
      text-decoration: none;
      font-family: $title-font;
      font-weight: 700;
      font-size: 1.7rem;
    }
    
    &-excerpt {
      margin-top: .5rem;
    }
  }
}