// Colors
$text-white: #fff;
$text-grey: #333333;
$accent-red: #7D1E1C;
$accent-red-dark: #5A1312;
$accent-yellow: #FFD207;
$accent-blue: #132D49;
$accent-hover: #E0E2DB;

$tag-accent-analysis: #224870;
$tag-accent-reviews: #D66853;
$tag-accent-strategy: #3B1F2B;
$tag-accent-news: #67A55B;
$tag-accent-reports: #5AB1BB;


// Fonts
$display-font: 'Staatliches', cursive;
$title-font: 'Work Sans', sans-serif;
$body-font: 'Roboto Slab', serif;