// Colors
$text-white: #fff;
$text-grey: #333333;
$accent-red: #7D1E1C;
$accent-red-dark: #5A1312;
$accent-yellow: #FFD207;
$accent-blue: #022B71;

// Fonts
$display-font: 'Staatliches', cursive;
$title-font: 'Work Sans', sans-serif;
$body-font: 'Roboto Slab', serif;