// Colors
$accent-red: #7D1E1C;
$accent-red-dark: #5A1312;
$accent-yellow: #FFF35E;

// Fonts
$display-font: 'Staatliches', cursive;
$title-font: 'Work Sans', sans-serif;
$body-font: 'Roboto Slab', serif;