@import '../styles/variables.scss';

.app-body {
  display: flex;
  justify-content: space-between;
  color: $text-grey;
  font-family: $body-font;
  margin-top: 3rem;

  &_postwrapper {
    flex-basis: 75%;
  }

  &_sidebar {
    flex-basis: 10%;
  }
}