@import '../../styles/variables.scss';

.single-tag-wrapper {
  flex-direction: row-wrap;
  flex-basis: 25%;

  &_header {
    font-size: 1.5rem;
    font-family: $title-font;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  &_tags {
    display: flex;
    flex-wrap: wrap;
  }
}

.single-tag {
  margin-right: .5rem;
  margin-bottom: .5rem;
  padding: .4rem;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}